.wishlist-item{
    outline: 2px solid pink;
    border-radius: 2px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0.8rem;
}